.bestseller-card {
  width: 230px;
  height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-position: center;
  background-size: 230px auto;
  &__title {
    font-family: var(--font-of-title);
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 4px;
  }
  &__description {
    font-weight: 400;
    font-size: 13px;
    color: #9a9da0;
    margin: 0 0 14px;
  }
  &__link {
    font-weight: 400;
    font-size: 13px;
    color: #122947;
    margin: 0 0 27px;
    border-bottom: 1px solid #122947;
    text-decoration: none;
    padding-bottom: 3px;
  }
}
