$size-of-tablet: 800px;
$size-of-mobile: 450px;
.bestsellers {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 0 0 98px;
  display: flex;
  width: 100%;
  max-width: 1366px;
  box-sizing: border-box;
  gap: 86px;
  @media screen and (max-width: $size-of-tablet) {
    padding-left: 45px;
    gap: 39px;
  }
  @media screen and (max-width: $size-of-mobile) {
    flex-direction: column;
    gap: 43px;
    padding: 0;
    align-items: center;
  }
  &__description-area {
    min-width: 215px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    align-items: self-start;
    @media screen and (max-width: $size-of-tablet) {
      padding-bottom: 33px;
    }
    @media screen and (max-width: $size-of-mobile) {
      width: 100%;
      align-items: center;
      max-width: 190px;
      padding: 0;
      margin-top: -8px;
    }
  }
  &__title {
    font-size: 32px;
    line-height: 42px;
    margin: 0 0 16px;
    font-weight: 500;
    letter-spacing: 0;
    font-family: var(--font-of-title);
    @media screen and (max-width: $size-of-tablet) {
      margin-top: -11px;
    }
    @media screen and (max-width: $size-of-mobile) {
      margin: 0 0 14px;
      font-size: 28px;
      line-height: 35px;
      text-align: center;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 33px;
    @media screen and (max-width: $size-of-mobile) {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      margin-bottom: 0;
    }
  }
}
