$size-of-tablet: 900px;
$size-of-mobile: 700px;
.filter-list {
  grid-row: 1 / span 2;
  border: 0;
  margin: 0;
  padding: 0;
  @media screen and (max-width: $size-of-mobile) {
    grid-row: auto;
    &:last-of-type {
      margin-bottom: 15px;
    }
  }
  &:nth-last-of-type(1) {
    grid-row: 1 / 1;

    @media screen and (max-width: $size-of-tablet) {
      grid-row: 1 / span 2;
    }
    @media screen and (max-width: $size-of-mobile) {
      grid-row: auto;
    }
  }
  &__title-area {
    @media screen and (max-width: $size-of-mobile) {
      display: flex;
    }
  }
  &__button {
    display: none;
    @media screen and (max-width: $size-of-mobile) {
      display: inline-block;
    }
  }
  &__title-area {
    @media screen and (max-width: $size-of-mobile) {
      border-bottom: 1px solid var(--color-of-border-nav);
      padding-bottom: 15px;
      cursor: pointer;
      &:hover {
        .filter-list__button::after,
        .filter-list__button::before {
          transform: scale(1.5);
        }
      }
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0;
  }
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 24px 0 0;
    display: flex;
    flex-direction: column;
    gap: 15.7px;
    @media screen and (max-width: $size-of-tablet) {
      gap: 20px;
    }
    @media screen and (max-width: $size-of-mobile) {
      margin: 19px 0 17px 4px;
    }
    &_hide {
      display: flex;

      @media screen and (max-width: $size-of-mobile) {
        display: none;
      }
    }
  }
  &__button {
    width: 12px;
    height: 12px;
    border: none;
    background-color: inherit;
    position: relative;
    margin-left: auto;
    align-self: center;
    &:hover {
      &::after,
      &::before {
        transform: scale(1.5);
      }
    }
    &::before,
    &::after {
      content: "";
      display: block;
      background-color: var(--color-of-text);
      position: absolute;
    }
    &::before {
      left: 0;
      top: 5px;
      width: 12px;
      height: 2px;
      opacity: 1;
    }
    &_open {
      &::after {
        width: 2px;
        height: 12px;
        left: 5px;
        top: 0;
      }
    }
  }
}
