$size-of-tablet: 800px;
$size-of-mobile: 450px;

.intro {
  padding: 103px 0 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../../../images/intro-background.png");
  background-repeat: no-repeat;

  @media screen and (max-width: $size-of-mobile) {
    padding: 268px 0 58px;
  }

  &__wrapper {
    max-width: 1366px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 28px 0 0;
    margin: 0 calc((100% - 1060px) / 2 + 15px);
    position: relative;

    @media screen and (max-width: $size-of-tablet) {
      margin: 0 45px;
      gap: 40px;
    }

    @media screen and (max-width: $size-of-mobile) {
      margin: 0 15px;
      gap: 30px;
      justify-content: space-around;
    }
  }

  &__about {
    z-index: 1;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(50% - 63px);
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    @media screen and (max-width: $size-of-tablet) {
      top: calc(50% - 45px);
    }
    @media screen and (max-width: $size-of-mobile) {
      top: -90px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 58px;
    font-family: var(--font-of-title);
    letter-spacing: 0px;
    font-weight: 500;
    margin: 0;

    @media screen and (max-width: $size-of-tablet) {
      font-size: 54px;
    }
    @media screen and (max-width: $size-of-mobile) {
      font-size: 42px;
    }
  }

  &__description {
    text-align: center;
    font-size: 18px;
    font-family: var(--font-of-text);
    font-weight: 400;
    line-height: 26px;
    margin: 12px 0 0;

    @media screen and (max-width: $size-of-mobile) {
      font-size: 16px;
      margin-top: 8px;
      line-height: 22px;
    }
  }

  &__button {
    margin-top: 33px;
    padding: 8px 27px 9px;
    border: 1px solid var(--color-of-border-button);
    border-radius: 2px;
    background-color: inherit;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    pointer-events: all;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #f1eae4;
      transition: all 1s ease;
      z-index: -1;
    }
    &:hover::before,
    &:focus::before {
      width: 100%;
    }

    @media screen and (max-width: $size-of-mobile) {
      font-size: 14px;
      line-height: 20px;
      margin-top: 23px;
    }
  }

  &__link {
    color: var(--color-of-text);
    text-decoration: none;
    outline: none;
    &:hover .intro__link-description,
    &:focus .intro__link-description {
      transform: translateY(10px);
    }
    &:hover .intro__picture,
    &:focus .intro__picture {
      opacity: 0.7;
    }
  }

  &__link-description {
    display: flex;
    justify-content: space-between;
    margin-top: 8.5px;
    font-size: 16px;
    letter-spacing: 0.15px;
    transition: transform 1s;

    @media screen and (max-width: $size-of-mobile) {
      font-size: 12px;
      margin-top: 5px;
    }
  }
  &__arrow {
    @media screen and (max-width: $size-of-mobile) {
      width: 23px;
    }
  }

  &__figure {
    margin: 0;
  }

  &__picture {
    max-width: 330px;
    min-width: 130px;
    width: 100%;
    transition: opacity 1s;
    @media screen and (max-width: $size-of-tablet) {
      max-width: 245px;
    }
    @media screen and (max-width: $size-of-mobile) {
      max-width: 130px;
    }
  }
}
