$size-of-tablet: 800px;
$size-of-mobile: 450px;

.intro {
  padding: 103px 0 70px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../../../images/intro-background.png");
  background-repeat: no-repeat;

  &__wrapper {
    max-width: 1366px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 28px 0 0;
    margin: 0 calc((100% - 1060px) / 2 + 15px);

    @media screen and (max-width: $size-of-tablet) {
      margin: 0 45px;
    }

    @media screen and (max-width: $size-of-mobile) {
      margin: 0 15px;
    }
  }

  &__about {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: calc(50% - 47px);
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: $size-of-tablet) {
      top: calc(50% - 29px);
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 58px;
    font-family: var(--font-of-title);
    letter-spacing: 0px;
    font-weight: 500;
    margin: 0;

    @media screen and (max-width: $size-of-tablet) {
      font-size: 54px;
    }
  }

  &__description {
    text-align: center;
    font-size: 18px;
    font-family: var(--font-of-text);
    font-weight: 400;
    line-height: 26px;
    margin: 12px 0 0;
  }

  &__button {
    margin-top: 33px;
    padding: 8px 27px 9px;
    border: 1px solid var(--color-of-border-button);
    border-radius: 2px;
    background-color: inherit;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
  }

  &__link {
    color: var(--color-of-text);
    text-decoration: none;
  }

  &__link-description {
    display: flex;
    justify-content: space-between;
    margin-top: 8.5px;
    font-size: 16px;
    letter-spacing: 0.15px;
  }

  &__figure {
    margin: 0;
  }

  &__picture {
    max-width: 330px;
    max-height: 422px;

    @media screen and (max-width: $size-of-tablet) {
      max-width: 245px;
      max-height: 322px;
    }
  }
}
