$size-of-tablet: 900px;
$size-of-mobile: 450px;
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 140px;
  @media screen and (max-width: $size-of-tablet) {
    gap: 120px;
  }
  @media screen and (max-width: $size-of-mobile) {
    gap: 80px;
  }
}