$size-of-tablet: 900px;
$size-of-mobile: 450px;
.item {
  text-decoration: none;
  max-width: 270px;
  width: 100%;
  margin: auto;
  @media screen and (max-width: $size-of-tablet) {
    max-width: 350px;
  }
  @media screen and (max-width: $size-of-mobile) {
    max-width: 290px;
  }
  &__article {
    margin: auto;
    max-width: 270px;
    height: 350px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 19px;
    box-sizing: border-box;
    transition: opacity 1s, transform 1s;
    &:hover {
      opacity: 0.7;
      transform: scale(1.05);
    }
    @media screen and (max-width: $size-of-tablet) {
      background-position: center;
      background-size: cover;
      max-width: 350px;
    }
    @media screen and (max-width: $size-of-mobile) {
      height: 290px;
      max-width: 290px;
    }
  }
  &__info-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    color: var(--color-of-text);
    font-size: 13px;
    text-decoration: none;
    gap: 0 10px;
  }
  &__title {
    font-weight: 400;
    margin: 0;
    font-size: 16px;
  }
  &__price {
    text-align: right;
  }
  &__description {
    color: var(--color-of-gray-text);
  }
  &__volume {
    text-align: right;
    color: var(--color-of-gray-text);
  }
}
