$size-of-tablet: 900px;
$size-of-mobile: 700px;
.filter-section {
  max-width: 1366px;
  margin: auto;
  padding: 142px 93px 52px 98px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $size-of-tablet) {
    padding: 142px 41px 40px 45px;
  }
  @media screen and (max-width: $size-of-mobile) {
    padding: 105px 8px 43px 15px;
  }
  &__title {
    margin: 0;
    font-family: var(--font-of-title);
    font-size: 36px;
    font-weight: 500;
    @media screen and (max-width: $size-of-mobile) {
      font-size: 28px;
    }
  }
  &__button {
    margin-left: auto;
    background-color: inherit;
    cursor: pointer;
    border: none;
  }
  &__filter-area {
    z-index: 10;
    position: absolute;
    width: 100%;
    padding: 0 45px 120px;
    box-sizing: border-box;
    top: 221px;
    left: 0;
    background-color: var(--color-of-main-background);
    @media screen and (max-width: $size-of-mobile) {
      padding: 0 35px 120px;
      top: 182px;
    }
  }
}
