.radio-input-list-item {
  font-size: 16px;
  font-weight: 500;
  &__label {
    cursor: pointer;
    &:before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: inherit;
      border-radius: 90%;
      outline: 1px solid #cdcdcd;
      outline-offset: 2px;
      margin-right: 12px;
      cursor: pointer;
    }
  }
  &__input {
    display: none;

    &:checked ~ .radio-input-list-item__label::before {
      background-color: var(--color-of-text);
    }
  }
}