$size-of-tablet: 800px;
$size-of-mobile: 450px;
.swiper {
  position: relative;
  padding: 138px 0 122px;
  height: 312px;
  @media screen and (max-width: $size-of-tablet) {
    padding-top: 120px;
  }
  @media screen and (max-width: $size-of-mobile) {
    padding: 0;
    gap: 0;
    max-width: 100vw;
    margin-left: 50px;
  }

  &-navigate-block {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: end;
    padding: 19px 93px 0 0;
    @media screen and (max-width: $size-of-tablet) {
      padding: 20px 40px 0 0;
    }
    @media screen and (max-width: $size-of-mobile) {
      display: none;
    }
  }
}
