@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

:root {
  --font-of-title: Mplus;
  --font-of-text: Raleway;
  --color-of-text: #122947;
  --color-of-main-background: #f9f7f6;
  --color-of-border-nav: #dbdce0;
  --size-of-tablet: 800px;
  --size-of-mobile: 400px;
}
html {
  scroll-behavior: smooth;
  color: var(--color-of-text);
  background-color: var(--color-of-main-background);
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.root {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
