@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

:root {
  --font-of-title: Mplus;
  --font-of-text: Raleway;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.root {
  max-width: 1400px;
  margin: 0 auto;
}
