$size-of-tablet: 800px;
$size-of-mobile: 450px;
.contacts-list {
  margin: 0;
  padding: 0;
  gap: 30px;
  display: flex;

  &__item {
    list-style: none;
    padding: 0;
  }
  &__link {
    outline: none;
    &:hover .contacts-list__picture,
    &:focus .contacts-list__picture {
      animation: shake 1.5s;
      animation-iteration-count: infinite;
    }
  }
}
