$size-of-tablet: 800px;
$size-of-mobile: 450px;
.our-history {
  width: 100%;
  max-width: 1366px;
  margin: auto;
  background-image: url("../../../images/our-history-background.png");
  min-height: 433px;
  background-size: cover;
  @media screen and (max-width: $size-of-tablet) {
    min-height: 394px;
    background-position: -237px;
  }
  @media screen and (max-width: $size-of-mobile) {
    min-height: 346px;
    background-position: -356px;
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 901px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    text-align: center;
    font-family: var(--font-of-title);
    font-size: 32px;
    line-height: 40px;
    margin: 110px 58px 41px;
    font-weight: 500;
    @media screen and (max-width: $size-of-tablet) {
      margin-top: 91px;
    }
    @media screen and (max-width: $size-of-mobile) {
      font-size: 22px;
      line-height: 28px;
      margin: 55px 39px 23px
    }
  }
}
